* {
    box-sizing: border-box;
}

html {
    height: 100%;
    color: $text-primary;
    font-family: Macan-light;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: $background-primary;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    line-height: 120%;
}

a:hover{
    cursor: pointer;
}
