@import '../../styels/setup/variables';

.main-app {
    height: 100vh;

    main {
        flex-grow: 1;
    }

    header,
    footer {
        background-color: $secondary-background;
        color: $main-background;
    }

    footer {
        padding: 10px;
        text-align: center;
    }
}